*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
  color: #373737;
}
html {
  font-size: 1.5vw;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Candara';
  font-weight: normal;
  letter-spacing: 0.0625em;
}

body {
  font-family: 'Candara', arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #373737;
  background: #white;
}

header::after, .container::after, footer::after, .tour-list::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 2048px;
  padding: 0 0%;
}

nav {
  font-size: 1.2em;
  font-weight: 700;
}

#menu {
  transition: .3s ease-in-out;
}
#menu li:hover a {
  border-top: 2px solid yellowgreen;
  padding-top: 0.05em;
  border-bottom: 2px solid yellowgreen;
  color: yellowgreen;
}
#menu li {
  display: block;
  float: left;
  padding-left: 1%;
  padding-top: 2%;
  padding-right: 5%;
  white-space: nowrap;
}
#menu.active {
  display: block;
  max-height: 100%;
  width: 60%;
  min-width: 300px;
  line-height: 300%;
  font-size: 1.2em;
  background-color: white;
  border-bottom: 2px solid #3C3D41;
  background: linear-gradient(200deg, rgba(255,255,255,0.95) 45%, rgba(90,165,35,0.95) 100%);
}

.tel {
  padding-top: 2%;
  position: absolute;
  right: 2%;
}
.tel i {
  font-size: 1.5em;
  position: absolute;
  right: 105%;
  top: 45%;
}
.tel .fa:hover {
  color: yellowgreen;
}
.tel .number:hover {
  text-decoration: underline;
  text-decoration-color: yellowgreen;
}

.nav-toggle {
  display: none;
  position: absolute;
  background-image: url(../img/menu_button_05-01.svg);
  width: 6em;
  height: 6em;
  cursor: pointer;
  margin-left: 3%;
  margin-top: 3%;
}
.nav-toggle span {
  display: block;
  position: absolute;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  bottom: 20%;
  right: 20%;
}
.nav-toggle span::before {
  top: -10px;
}
.nav-toggle span::after {
  bottom: -10px;
}

.widget-category-list li {
  float: left;
  width: 25%;
  font-size: 1.3em;
  white-space: nowrap;
  border-bottom: 0.3em solid transparent;
  padding: 1%;
}
.widget-category-list li:hover {
  border-bottom: 0.3em solid yellowgreen;
}
.widget-category-list a.active .highlight {
  border-bottom: 0.3em solid yellowgreen;
}

.tour {
  display: block;
  float: left;
  position: relative;
  width: 33.33333%;
  height: 25vw;
  margin-bottom: 0;
  font-size: 0.65em;
}
.tour-content {
  height: 100%;
}
.category-link {
  color: white;
  text-transform: uppercase;
  padding: 3%;
  position: relative;
  float: right;
}
.tour-title {
  width: 50%;
  padding: 3%;
  text-align: center;
  color: white;
  padding-top: ;
  background-color: rgba(75, 75, 50, 0.3);
}
.more-link {
  position: absolute;
  right: 40%;
  bottom: 15%;
  display: inline-block;
  font-size: 0.7em;
  text-transform: uppercase;
  color: white;
  line-height: 4em;
  padding: 0 3%;
  background: #3C3D41;
  letter-spacing: 0.1em;
  white-space: nowrap;
}


.tour-1 {
  background-image: url(../img-content/similan_01.jpg);
  background-size: cover;
  height: 100%;
}
.tour-2 {
  background-image: url(../img-content/phi_phi_01.jpg);
  background-size: cover;
  height: 100%;
}
.tour-3 {
  background-image: url(../img-content/james_bond_01.jpg);
  background-size: cover;
  height: 100%;
}
.tour-4 {
  background-image: url(../img-content/amazing_phang_nga_01.jpg);
  background-size: cover;
  height: 100%;
}
.tour-5 {
  background-image: url(../img-content/phuket_fantasea_show_01.jpg);
  background-size: cover;
  height: 100%;
}
.tour-6 {
  background-image: url(../img-content/flying_hanuman_01.jpg);
  background-size: cover;
  height: 100%;
}

footer {
  margin: 0;
  padding: 3em;
  background: #3C3D41;
  color: white;
}
.footer-col {
  width: 33.33333%
  float: left;
}
.footer-col a {
  color: white;
}
.footer-col:last-child {
  text-align: right;
}
.social-bar-wrap {
  text-align: center;
}
.social-bar-wrap a {
  padding: 0 0.43em;
  font-size: 1.5em;
}

/*reviews_page*/

.review {
  display: block;
  position: relative;
  height: 40em;
  margin: 20%;
  outline: 1em solid red;
  text-align: center;
}

/*about_us_page*/

.backwall {
  margin-top: 0.1%;
  border-top: 2px solid darkolivegreen;
}
.blocktxt {
  font-size: 0.em;
}
.comp-info {
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 4%;
  border-bottom: 1px solid yellowgreen;
}
.comp-info h3 {
  border-bottom: 1px solid yellowgreen;
  padding-bottom: 4%;
  text-align: center;
  margin-bottom: 4%;
}
.comp-adress {
  margin-top: 4%;
  padding-bottom: 4%;
  border-bottom: 1px solid yellowgreen;
}
.comp-adress h3 {
  padding: 2%;
}
.license {
  margin-top: 4%;
  padding-bottom: 4%;
  border-bottom: 1px solid yellowgreen;
}
.license h3 {
  padding-top: 2%;
}
.infoblock {
  width: 50%;
  margin-left: 2%;
  margin-right: 2%;
  float:left;
}
.img-lic img {
  float: left;
  position: relative;
  padding: 7%;
 }
.map {
  position: relative;
  float: left;
  width: 100%;
  height: 5em;
  outline: 2px solid red;
}

@media (max-width: 1024px) {

  .tour {
    width: 50%;
    height: 31vw;
  }

  .blocktxt {
    font-size: 1em;
  }
}

@media (max-width: 768px) {

  .nav-toggle {
    display: block;
  }

  #menu {
    max-height: 0;
    position: absolute;
    overflow: hidden;
    top: 15%;
    right: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 3;
  }
  #menu a {
    color: #3C3D41;
  }
  #menu li{
    display: block;
    float: left;
    text-align: center;
    padding: 2%;
    width: 100%;
    border-top: 2px solid #3C3D41;
  }

  .tel {
    position: relative;
    float: right;
  }

  .widget-category-list li{
    display: block;
    width: 50%;
    float: left;
    text-align: left;
    padding: 1.5%;
  }

  .tour {
    width: 100%;
    height: 65vw;
    font-size: 1.5em;
  }
  .tour-content {
    width: 100%;
    height: 100%;
  }

  .blocktxt {
    font-size: 1.5em;
  }
  .infoblock {
    width: auto;
  }
  .img-lic {
    width: 100%;
    margin: 0 auto;
  }

  .mail {
    display: none;
  }
}

@media (max-width: 480px) {

  #menu.active {
  }

  .tel {
    font-size: 1em;
  }

  .blocktxt {
    font-size: 2em;
  }
  .img-lic img {
    width: 100%;
  }

  .post-social {
    position: static;
    text-align: center;
    transform: none;
    margin-top: 1.25em;
  }
  .footer-col {
    float: none;
    margin-bottom: 1.25em;
    width: 100%;
    text-align: center;
  }
  .footer-col:last-child {
    text-align: center;
    margin-bottom: 0;
  }
}
