*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
  color: #373737;
}
html {
  font-size: 1.5vw;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Candara';
  font-weight: normal;
  letter-spacing: 0.0625em;
}

h1 {
  font-size: 1.1em;
  font-weight: 700;
}

body {
  font-family: 'Candara', arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #373737;
  background: #white;
}

header::after, .container::after, footer::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 2048px;
  padding: 0 0%;
}

#menu {
  transition: .3s ease-in-out;
}
#menu li:hover a {
  border-top: 2px solid yellowgreen;
  padding-top: 0.05em;
  border-bottom: 2px solid yellowgreen;
  color: yellowgreen;
}
#menu li {
  display: block;
  float: left;
  padding-left: 1%;
  padding-top: 2%;
  padding-right: 5%;
  white-space: nowrap;
}
#menu.active {
  display: block;
  max-height: 100%;
  width: 60%;
  min-width: 300px;
  line-height: 300%;
}

.tel {
  padding-top: 1.7%;
  position: absolute;
  right: 2%;
}
.tel i {
  font-size: 1.5em;
  position: absolute;
  right: 105%;
  top: 45%;
}
.tel a:hover {
color: yellowgreen;
border-radius: 2px solid;
}
.nav-toggle {
  display: none;
  position: absolute;
  background-image: url(../img/menu_button_05-01.svg);
  width: 7.5em;
  height: 7.5em;
  cursor: pointer;
  left: 2%;
}
.nav-toggle span {
  display: block;
  position: absolute;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  bottom: 18%;
  right: 24%;
}
.nav-toggle span::before {
  top: -10px;
}
.nav-toggle span::after {
  bottom: -10px;
}

.widget-category-list li {
  float: left;
  width: 25%;
  font-size: 1.3em;
  white-space: nowrap;
  border-bottom: 0.3em solid transparent;
  padding: 1%;
}
nav .widget-category-list li:hover {
  border-bottom: 0.3em solid yellowgreen;
}
.widget-category-list a.active .highlight {
  border-bottom: 0.3em solid yellowgreen;
}

.tour-list {
  display: block;
  margin-bottom: 1%;
  width: 100%;
}
.tour {
  display: block;
  float: left;
  width: 33.33333%;
  margin-bottom: 1%;

}
.tour-content p {
   padding: 2%;
}
.tour img{
  display: block;
  width: 100%;
  height: 17em;
  margin-bottom: 0px;
}
.category {
  color: #F8B763;
  text-transform: uppercase;
  padding: 1%;
}
.tour-title {
  padding: 1%;
}
.tour-footer {
  border-top: 1px solid #EBEBE3;
  border-bottom: 1px solid #EBEBE3;
  position: relative;
  margin-top: 1em;
}
.more-link {
  position: relative;
  display: inline-block;
  font-size: 0.7em;
  text-transform: uppercase;
  color: white;
  line-height: 4.05em;
  padding: 0 2em;
  background: #3C3D41;
  letter-spacing: 0.1em;
  white-space: nowrap;
}
.more-link::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  border: solid transparent;
  border-width: 2em 1.5em;
  border-left-color: #3C3D41;
  transform: translateX(100%);
}

footer {
  margin: 0;
  padding: 3em;
  background: #3C3D41;
  color: white;
}
.footer-col {
  width: 33.33333%
  float: left;
}
.footer-col a {
  color: white;
}
.footer-col:last-child {
  text-align: right;
}
.social-bar-wrap {
  text-align: center;
}
.social-bar-wrap a {
  padding: 0 0.43em;
  font-size: 1.5em;
}

/*about_us_page*/

.backwall {
  margin-top: 0.1%;
  border-top: 2px solid darkolivegreen;
}
.comp-info {
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 4%;
  border-bottom: 1px solid yellowgreen;
}
.comp-info h3 {
  border-bottom: 1px solid yellowgreen;
  padding-bottom: 4%;
  text-align: center;
  margin-bottom: 4%;
}
.comp-adress {
  margin-top: 4%;
  padding-bottom: 4%;
  border-bottom: 1px solid yellowgreen;
}
.comp-adress h3 {
  padding: 2%;
}
.license {
  margin-top: 4%;
  padding-bottom: 4%;
  border-bottom: 1px solid yellowgreen;
}
.license h3 {
  padding-top: 2%;
}
.infoblock {
  width: 50%;
  margin-left: 2%;
  margin-right: 2%;
  float:left;
}
.img-lic img {
  float: left;
  position: relative;
  padding: 7%;
 }
.map {
  position: relative;
  float: left;
  width: 100%;
  height: 5em;
  outline: 2px solid red;
}

@media (max-width: 960px) {
  .nav-toggle {
    display: block;
  }

  header{
    padding-top: 3%;
  }

  #menu a {
    color: #3C3D41;
  }
  #menu {
    max-height: 0;
    position: absolute;
    overflow: hidden;
    top: 15%;
    right: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 3;
  }
  #menu li{
    display: block;
    float: left;
    text-align: center;
    padding: 3%;
    width: 100%;
    border-top: 2px solid #3C3D41;
  }
  #menu.active {
    display: block;
    font-size: 1.3em;
    white-space: nowrap;
    max-height: 100%;
    width: 60%;
    background-color: white;
    border-bottom: 2px solid #3C3D41;
    background: linear-gradient(200deg, rgba(255,255,255,0.95) 45%, rgba(90,165,35,0.95) 100%);
  }

  .tel {
    display: block;
    position: relative;
    float: right;
    font-size: 1.2em;
  }
  .widget-category-list li{
    display: block;
    width: 50%;
    float: left;
    text-align: left;
    padding: 1.5%
  }

  .tour {
    width: 100%;
    float: left;
  }
  .tour img{
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 1%;
  }

  .blocktxt {
    font-size: 1.5em;
  }
  .infoblock {
    width: auto;
  }
  .img-lic {
    width: 100%;
    margin: 0 auto;
  }

  .mail {
    display: none;
  }


@media (max-width: 480px) {

  #menu{
    top: 17%;
  }
  #menu.active {
    display: block;
    font-size: 90%;
    max-height: 100%;
    max-width: 100%
    min-width: 300px;
    line-height: 200%;
  }

  .tel {
    font-size: 1em;
  }

  .widget-category-list li{
    font-size: 100%;
    width: 100%;
    float: left;
    letter-spacing: 0.2em;
  }

  .tour-footer {
    border-top: none;
    border-bottom: none;
    text-align: center;
  }

  .blocktxt {
    font-size: 2em;
  }
  .img-lic img {
    width: 100%;
  }

  .post-social {
    position: static;
    text-align: center;
    transform: none;
    margin-top: 1.25em;
  }
  .footer-col {
    float: none;
    margin-bottom: 1.25em;
    width: 100%;
    text-align: center;
  }
  .footer-col:last-child {
    text-align: center;
    margin-bottom: 0;
  }
}
