*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 }
.html { font-size: 1.5vw; }

.list {
  list-style: none;
  font-size: 1em;
  font-weight: 600;
}
.link {
  text-decoration: none;
  outline: none;
  color: #373737;
}

.body {
  font-family: 'Candara', arial, sans-serif;
  font-size: 1em;
  line-height: 2em;
  color: #373737;
  background-color: white;
}

.header::after, .container::after, .footer::after, .tour-category .tour-category__category-item::after, .category-widget.widget-sticky::after, .modal-window__modal-content::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 0%;
}

.navigation-menu__menu-items {
  transition: .3s ease-in-out;
}
.item-list__item:hover .item-list__link {
  border-top: 2px solid yellowgreen;
  border-bottom: 2px solid yellowgreen;
}
.item-list__item {
  display: block;
  float: left;
  padding-left: 2%;
  padding-top: 2%;
  padding-right: 5%;
  white-space: nowrap;
}
.navigation-menu__menu-items.active {
  display: block;
  position: fixed;
  max-height: 100%;
  height: 100%;
  width: 100%;
  text-decoration-color: white;
  line-height: 3.5em;
  font-size: 2.5em;
  background-color: rgba(105,105,105,0.9);
  overflow: visible;
  z-index: 4;
}

.navigation-menu__menu-toggle {
  display: none;
  position: relative;
  width: 10em;
  height: 4em;
  float:left;
  cursor: pointer;
  margin: 3% 3% 0;
}
.menu-toggle__text {
  position:absolute;
  left: 50%;
  top: 20%;
  font-weight: 700;
}
.menu-toggle__icon {
  position: absolute;
  width: 4em;
  height: 4em;
}

.menu-items__close-button {
  display: none;
  width:100%;
  min-height: 60px;
}
.close-button {
  position: absolute;
  right: 2em;
  top: 2em;
  width: 2em;
  height: 2em;
  opacity: 0.5;
}
.close-button:hover {
  opacity: 1;
}
.close-button:before, .close-button:after {
  position: absolute;
  left: 1em;
  content: ' ';
  height: 2em;
  width: 0.2em;
  background-color: white;
}
.close-button:before {
  transform: rotate(45deg);
}
.close-button:after {
  transform: rotate(-45deg);
}

.navigation-menu__telephone-widget {
  position: relative;
  float: right;
  margin: 2% 2% 0 0;
}
.telephone-widget__link {
  position: relative;
  font-size: 1.1em;
}
.telephone-widget__link .fa-whatsapp:hover {
  color: yellowgreen;
}
.telephone-widget__link:hover {
  text-decoration: underline;
  text-decoration-color: yellowgreen;
}

.main__upwards-button {
  display: none;
  position: fixed;
  right:5%;
  bottom: 40%;

  height: 6.5em;
  padding: 0.4%;
  border: 0.2em solid darkolivegreen;
  border-radius: 0.8em;
  background-color: RGBA(255, 255, 255, 0.6);
  cursor: pointer;
  z-index: 2;
}
.upwards-button__icon {
  position: relative;
  margin: 0 auto;
  width: 4em;
  height: 4em;
}
.upwards-button__text {
  display: block;
  text-align: center;
  font-weight: 600;
  color: darkolivegreen;
}

.manager-button {
  position: fixed;
  bottom: 3%;
  right: 5%;
  z-index: 3;
  text-align: center;
}
.manager-button__button {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background: url("../img/img_manager.jpg");
  background-position: center;
  background-size: cover;
}
.manager-button__manager-modal-window {
  display: none;
  min-width: 310px;
  background: white;
  margin-top: -17%;
  padding: 2%;
  border-radius: 5px;
}
.manager-modal-window__modal-window-close {
  width: 100%;
  height: 45px;
}
.modal-window-close__button.close-button {
  position: relative;
  border: none;
  background: transparent;
  top: 0;
  left: 40%;
  height: 50px;
  width: 50px;
}
.modal-window-close__button.close-button:after, .modal-window-close__button.close-button:before {
  background-color: black;
  left: 2em;
  top: 1em;
}
.manager-modal-window__name{
  font-size: 2em;
  font-weight: 700;
}
.manager-modal-window__post {
  font-size: 1.2em;
  white-space: pre-line;
  padding: 2% 0 5%;
}
.manager-modal-window__social-bar {
  font-size: 1.5em;
  padding-bottom: 5%;
}
.manager-modal-window__number {
  font-size: 2.2em;
  font-weight: 600;
  padding-bottom: 3%;
}
.manager-modal-window__number.number-link {
  text-decoration: none;
  color: black;
}
.main-wallpaper {
  display: block;
  width: 100%;
}

.main {
  overflow: visible;
  -webkit-overflow-scrolling: touch;
}

.category-widget{
  min-height: 20%;
  background-color: white;
  opacity: 0.95;
}
.widget-sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 3;
}
.category-list__item {
  float: left;
  width: 25%;
  border-bottom: 0.3em solid transparent;
  background-color: white;
  opacity: 0.95;
}
.category-list__link {
  display: inline-block;
  width:100%;
  text-align: center;
  line-height: 2em;
  padding-right: 5%;
  margin-top: 0.3em;
}
.category-list__item:hover {
  background-color: rgba(105,105,105,0.7);
  border-bottom: 0.3em solid darkolivegreen;
}
.category-list__item.active {
  border-bottom: 0.3em solid yellowgreen;
 }

.hidden {
  display: none;
}

.category-item__tour-item {
  display: block;
  float: left;
  position: relative;
  width: 33.33333%;
  height: 26vw;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
}
.tour-item__background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
  transition: transform .7s ease;
}
.tour-item__link {
  cursor: pointer;
}
.tour-item__title {
  position: relative;
  float:left;
  padding: 5% 0 0 5%;
  color: white;
  font-size: 0.85em;
  text-shadow: 0px 0px 1px RGBA(255, 255, 255, 1), 2px -1px 0px RGBA(47, 79, 79, 0.8);
}
.details-link {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.7em;
  font-weight: 700;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  background: RGBA(255, 255, 255, 0.4);
  box-shadow: 0px 0px 5px 3px RGBA(0, 0, 0, 0.8);
  border-radius: 0.1em;
  padding: 0 3%;
}
.details-link:hover {
  opacity: 0.8;
}
.tour-item__background-image:hover {
  transform: scale(1.1);
}

.right-corner-flag {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 20%;
  z-index: 1;
}
.right-corner-flag__text {
  position: absolute;
  top: 0.7em;
  right: 0.4em;
  font-size: 1.5em;
  color: white;
}

.tour-item__modal-window {
  background: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
  top: 100%;
  position: fixed;
  left: 0;
  text-align: left;
  z-index: 5;
}
.modal-window__modal-title {
  padding: 3%;
  border-bottom: 1px solid #ddd;
  position: relative;
  color: white;
}
.modal-window__modal-content {
  padding: 3%;
  font-size: 0.9em;
  line-height: 1.4em;
}
.modal-content__content {
  display: block;
  float: left;
  width: 50%;
  white-space: pre-line;
  text-align: center;
 }
.modal-content__timing {
  display: block;
  width: 50%;
  float: left;
  text-align: left;
  padding-left: 10%;

}
.modal-window__click-close-modal {
  display: block;
  min-height: 60px;
  min-width: 50px;
  z-index: 6;
  cursor: pointer;
}
.category-item__tour-item.modal-opened .tour-item__modal-window {
  top: 0;
}
.modal-window__contact-us-stroke {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  padding: 2%;
}
.contact-us-stroke__number {
  display: inline-block;
  font-size: 0.9em;
  text-decoration: none;
  text-outline: none;
  color: inherit;
  padding: 2% 0 0 4%;
}
.contact-us-stroke__social-bar {
  display: inline-block;
  font-size: 1.2em;
  text-align: center;
  padding: 2% 4% 0 0;
}
.modal-window__catalog-button {
  text-align: center;
}
.catalog-button {
  padding: 1%;
  background-color: skyblue;
  border-radius: 0.5em;
}
.catalog-button__catalog-link {
  text-decoration: none;
  font-size: 1.5em;
  color: black;
  padding: 0 10%;
}
.catalog-button:hover, .social-bar__link:hover, .number-link:hover {
  opacity: 0.7;
}

.background-1 {
  height: 20%;
  background: url("../img-content/similan_03-1.jpg") no-repeat ;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}
.background-2 {
  height: 20%;
  background: url("../img-content/phi_phi_02.jpg") no-repeat ;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}
.background-3 {
  height: 20%;
  background: url("../img-content/james_bond_02.jpg") no-repeat ;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}
.background-4 {
  height: 20%;
  background: url("../img-content/flying_hanuman_02.jpg") no-repeat ;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}
.background-5 {
  height: 20%;
  background: url("../img-content/amazing_phang_nga_02.jpg") no-repeat ;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}
.background-6 {
  height: 20%;
  background: url("../img-content/phuket_fantasea_show_02.jpg") no-repeat ;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}
.background-7 {
  height: 20%;
  background: url("../img-content/3in1_02.jpg") no-repeat ;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}
.background-8 {
  height: 20%;
  background: url("../img-content/khao_lak_02.jpg") no-repeat ;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}

.tour-1 {
  background-image: url(../img-content/similan_01.jpg);
}
.tour-2 {
  background-image: url(../img-content/phi_phi_01.jpg);
}
.tour-3 {
  background-image: url(../img-content/james_bond_01.jpg);
}
.tour-4 {
  background-image: url(../img-content/amazing_phang_nga_01.jpg);
}
.tour-5 {
  background-image: url(../img-content/phuket_fantasea_show_01.jpg);
}
.tour-6 {
  background-image: url(../img-content/flying_hanuman_01.jpg);
}
.tour-7 {
  background-image: url(../img-content/3in1_01.jpg);
}
.tour-8 {
  background-image: url(../img-content/khao_lak_01.jpg);
}

.footer {
  margin: 0;
  padding: 3em 1.5em;
  background: #3C3D41;
  color: white;
  font-size: 1.2em;
  line-height: 3em;
}
.footer-list__footer-item:first-child {
  text-align: right;
}
.footer-list__footer-item:last-child {
  text-align: left;
}
.social-bar {
  font-size: 1.5em;
  text-align: center;
}
.social-bar__link {
  padding: 0 0.5em;
  color: inherit;
}
.footer-item__link-mail {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

/*reviews_page*/

.review {
  display: block;
  position: relative;
  height: 40em;
  margin: 20%;
  outline: 1em solid red;
  text-align: center;
}

/*about_us_page*/

.backwall {
  margin-top: 0.1%;
  border-top: 2px solid darkolivegreen;
}
.greenblock__block-title {

}
.about-us {
    line-height: 2em;
    padding: 3%;
}
.comp-info {
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 4%;
  border-bottom: 1px solid yellowgreen;
  text-align: center;
  margin-bottom: 4%;
}
.comp-adress {
  margin-top: 4%;
  padding-bottom: 4%;
  border-bottom: 1px solid yellowgreen;
}
.about-us__adress-thailand {
  padding: %;
  font-weight: bold;
  font-size: 110%;
}
.license {
  margin-top: 4%;
  padding-bottom: 4%;
  border-bottom: 1px solid yellowgreen;
}
.infoblock {
  display: inline-block;
  width: 50%;
  margin-left: 2%;
  margin-right: 2%;
  float:left;
}
.img-lic img {
  float: left;
  position: relative;
  padding: 3%;
 }
.map {
  position: relative;
  float: left;
  width: 100%;
  height: 5em;
  outline: 2px solid red;
}

@media (max-width: 1024px) {

  .item-list__item:hover .item-list__link{
    border: none;
  }

  .category-item__tour-item {
    width: 50%;
    height: 40vw;
    }
  .details-link {
    font-size: 0.95em;
    padding: 2%;
  }
  .tour-item__title{
    font-size: 1.3em;
  }
  .modal-window__modal-content {
    font-size: 1em;
    line-height: 1.5em;
  }

  .list {
    font-size: 1.3em;
  }

  .modal-window__contact-us-stroke {
    padding: 1%;
  }
  .contact-us-stroke__number {
    font-size: 1em;
    padding-top: 1%;
  }
  .contact-us-stroke__social-bar {
    font-size: 1.2em;
    padding-top: 1%;
  }
  .catalog-button__catalog-link {
    font-size: 0.6em
  }

  .right-corner-flag__text {
    top: 1em;
    right: 0.7em;
    font-size: 1.9em;
  }

  .blocktxt {
    font-size: 1em;
  }
}

@media (max-width: 638px) {

  .navigation-menu__menu-toggle {
    display: block;
  }
  .navigation-menu__menu-items {
    max-height: 0;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 3;
  }
  .menu-items__close-button {
    display: inline-block;
  }
  .close-button:before, .close-button:after {
    height: 4em;
    width: 0.4em;
  }
  .item-list__link {
    color: white;
  }
  .item-list__item {
    display: block;
    float: left;
    text-align: center;
    padding: 2%;
    width: 100%;
  }

  .navigation-menu__telephone-widget {
    position: relative;
    float: right;
  }

  .category-item__tour-item {
    width: 100%;
    height: 77vw;
  }
  .tour-item__title{
    font-size: 2.8em;
  }
  .tour-item__link.details-link {
    padding: 2%;
    font-size: 1.7em;
  }
  .tour-item__link {
    font-size: 1em;
  }

  .right-corner-flag__text {
    top: 1.2em;
    right: 0.6em;
    font-size: 4em;
  }

  .modal-window__modal-title {
    font-size: 2.7em;
    height: 20%;
    text-align: center;
  }
  .modal-title {
    margin-top: 4.2em;
  }
  .modal-window__modal-content {
    font-size: 2em;
    line-height: 2em;
  }
  .modal-content__content {
    width: 100%;
    padding-bottom: 5%;
  }
  .modal-content__timing {
    width: 100%;
    padding: 0 0 5% 2%;
  }
  .modal-window__click-close-modal.close-button {
    opacity: 1;
   }
  .modal-window__click-close-modal.close-button:before, .modal-window__click-close-modal.close-button:after {
    height: 8em;
    width: 0.8em;
    left: 5em;
    background-color: white;
  }


  .contact-us-stroke__text {
    display: block;
    font-size: 2.2em;
    padding: 0 0 5% 0;
  }
  .contact-us-stroke__number {
    display: block;
    font-size: 2.5em;
    padding: 0 0 4% 0;
  }
  .contact-us-stroke__social-bar {
    display: block;
    font-size: 2.5em;
    padding: 0 0 4% 0;
  }
  .catalog-button__catalog-link {
    font-size: 1em;
  }

  .blocktxt {
    font-size: 1.5em;
  }
  .infoblock {
    width: auto;
  }
  .img-lic {
    float:none;
    width: 100%;
    margin: 0 auto;
  }

  .footer {
    font-size: 1.5em;
  }

  .link {
    font-size: 1.5em;
  }

}

@media (max-width: 480px) {

  .footer {
    font-size: 1.7em;
  }

  .link {
    font-size: 1.7em;
  }

}
